/* Dashboard.css */
.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f7fc;
    min-height: 100vh;
    text-align: center;
  }
  
  .dashboard-container h2 {
    color: #333;
  }
  
  .dashboard-container p {
    font-size: 1.2em;
    color: #555;
  }
  